{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-4">Bienvenue sur le Nouveau Tael's Bar</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4" style="background-color: white; border-radius: 10px;">
                <h2 class="text-center">Que voulez-vous faire ?</h2>
                <hr>
                <div class="text-center">
                    <a href="{{ path('app_post_list') }}" class="btn btn-secondary btn-lg">Voir les différents Articles</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
